/* Profil du photographe */
.profile {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile img {
    height : 170px;
    border-radius: 90px;
    width: 170px;
    object-fit: cover;
    justify-content: flex-end;
}

.profile__content{
    display: flex;
    justify-content: space-between;
}
.profile-description{
    display: flex;
    flex-direction: column; 
}


.profile__descrpition--location{
    font-size: 20px;
    color : #901C1C;
    margin-top: -15px;
}
.profile__descrpition--name{
    color : #D3573C;
    font-size: 39px;
}
.profile__descrpition--tagline{
    color: grey;
    font-size: 16px;
}
/* Modale de contact */
#contact_modal {
    display: none;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 170px;
    height: 70px;
    border: none;
    margin-right: 40px;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    justify-content: flex-end;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
form .message {
    height : 400px;
}
.formData.success input {
    border : 2px solid green;
}
.formData.error input {
    border: 2px solid red;
}
.formData small {
    margin-top: 3px;
}


/* Filtre des images */
.menu-wrapper{
    display: flex;
    margin-left: 100px;
    align-items: flex-start;
    cursor: pointer;
    margin-top: 50px;
}
.Tri{
    margin-top: 30px;
    margin-right: 20px;
    font-weight: bold;
}
.filter--popularité{
    padding-bottom: 9px;
    padding-top: 8px;
    padding-left: 8px;
    border: 2px solid transparent;
    background-color:#901C1C;
    border-radius: 5px;
    position: relative;
}
.filter--date{
    border-top: 0.5px solid white;
    padding-top: 9px;
    border-bottom: 0.5px solid white;
    padding-bottom: 9px;
}
.filter--date.pointer{
    color:black;
}
.filter--popularité.pointer{
    color: black;
}
.filter--titre.pointer{
    color: black;
}
.filter--titre{
    padding-top: 9px;
}
#sous_menu{
    list-style-type: none;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:2px solid transparent;
    background-color: #901C1C;
    border-radius: 5px;
    margin-top: -13px;
    transform: scaleY(1);
    transition: transform 1s ease-in-out;
    visibility: hidden;
}

.filter{
    padding-top: 15px;
    width: 130px;
    height: 115px;
    margin-top: 20px;
    color: #FAFAFA;
    justify-content: center;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 3px;

}
.svg{
    margin-left: 13px;
    position: relative;
}
.chevron.up {
    position: absolute;
    top:-19px;
    left:75px;
}

.filter:hover #sous_menu{
    visibility: visible;
}
.filter:hover .chevron.up.down{
    transform: rotate(180deg);
}

.border{
    border : 1px solid black;
}

/* Contenu principal de la page : photo, titre et likes */

*{
    max-width: 100%;
}
.photographers-content article{
    margin-left: 100px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    max-width: 90%;
}
.media_container{
    display : flex;
    flex-direction: column;
}

.content {
    width: 72%;
    margin-top: 10px;
}

.media {
    height:400px;
    width: 90%;
    object-fit: cover;
}
.content__description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:auto;
    padding-right: 75px;

}
.content__description--title{
    color : #901C1C;
    font-size : 18px;
    margin-top: 8px;
    width: 80%;
    word-break: normal;
    
}
.content__items--like{
    color : #901C1C;
    font-weight: bolder;
    margin-top: 7px;
    font-size: 19px;
    
}

.content__items{
    display: flex;
    margin-right:-42px ;
}
.content__items--heart{
    padding-top:8px;
    padding-left: 3px;
}

/* Compteur de likes */
.container{
    display: flex;
    align-items: center;
}

.counter_content{
    width: 30%;
    height: 80px;
    margin: auto;
    background-color:#DB8876;
    border-radius: 5px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.counter_price{
    font-weight: bold;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.heart{
    padding-top: 6px;
    padding-left: 3px;
}

/* Lightbox */

.lightbox{
    display : none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 100%;
}

.lightbox.show{
    display: block;
}

.lightbox.container{
    max-height: 80vh;
    margin: auto;
    background:none;
    border-radius: 5px;
    position: relative;
    max-width: 100%;
    
}
.lightbox.container.element, .lightbox.container.video{
    max-width: 80vh;
    max-height: 80vh;
    object-fit: contain;
    box-shadow: 3px 0px 0px grey;
    position: absolute;
    top:650px;
}


.title{
    color : #901C1C;
    font-size : 18px;
    margin-top: 8px;
    word-break: normal;
}

.chevronL, .chevronR{
    position: absolute;
    top:18em;
    cursor: pointer;
    transform: translateY(-50%);
    max-width: 100%;

}
.chevronR{
    right: 0%;
    max-width: 100%;

}

.lightbox__close{
    font-size: 52px;
    cursor: pointer;
    color: #901C1C;
    position: absolute;
    left:85%;
    background: none;
    outline: inherit;
    border: none;
}


@media screen and (max-width:750px){

    /* Header et profil du photographe */
    .link_logo{
        margin-right: 80px;
    }
    .profile{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 60%;
        padding-bottom: 20px;
    }
    .profile__descrpition--name{
        margin-left: 15%;
        
    }
    .profile__descrpition--location{
        margin-left: 15%;
    }
    .profile__descrpition--tagline{
        margin-left: 15%;
    }
    .contact_button{
        height: 40%;
        margin: auto;
        margin-bottom: 10px;
    }

    .profile_image {
        margin-top: 20px;
    }

    /* Contact modal */
    
    .modal header h2{
        text-align:justify;
        margin-top: -15px;
        margin-left: -50px;
        font-size: 30px;
    }
    form {
        margin-top:0px;
    }
    header {
        position: relative;
    }
    .modal header img{
        position:absolute;
        right: 10px;
        top:-10px;
        height: 30px;
        margin-top: 0px;
    }
    /* Menu déroulant de navigation */
    nav{
        max-width: 80%;
    }


    .menu-wrapper{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }
    .Tri {
        margin-left : 10px;
    }
    /* Contenu photographique du photographe */
    .photographers-content article {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 10px;

    }
    
    .content__description--title{
        word-break: keep-all;
    }
    .content__items{
        margin-right: -29px;
    }
    /* Compteur de likes */
    .counter_content{
        width: 70%;
    }
    /* Lightbox */
    .lightbox{
        max-width: 100%;
    }
    .lightbox.container{
        max-width: 80%;
        position: relative;
    }
    .lightbox.container.element{
        max-width: 80%;
    }
    .lightbox.container.video{
        max-width: 80%;
    }
    .chevronL{
        position: fixed;
        left: 4%;
        top:38%;
        max-width: 100%;
    }
    .chevronR{
        position: fixed;
        right: 4%;
        top:38%

    }
    .lightbox__close{
        position:fixed;
        right: 5%;
        top:0%;
        max-width: 100%;
    }
}

.compteur_like{
    border: 2px solid black;
    width: 30%;
    margin-left:35%;
    background-color: #DB8876;

}
.le_contenu{
    display: flex;
    justify-content: space-between;
}