#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.photograph-header img {
    height : 170px;
    border-radius: 90px;
    width: 170px;
    object-fit: cover;
}

.photograph-header .tagline {
color: grey;
font-size: 16px;

}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    justify-content: flex-end;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
form .message {
    height : 200px;
}
.formData.success input {
    border : 2px solid green;
}
.formData.error input {
    border: 2px solid red;
}



.divNav{
    display: flex;
    margin-left: 100px;
    align-items: flex-start;
    cursor: pointer;
}
.Tri{
    margin-top: 30px;
    margin-right: 20px;
    font-weight: bold;
}
.popularité{
    padding-bottom: 9px;
    padding-top: 12px;
    padding-left: 8px;
    border: 2px solid transparent;
    background-color:#901C1C;
    border-radius: 5px;
    position: relative;
}
.date{
    border-top: 0.5px solid white;
    padding-top: 9px;
    border-bottom: 0.5px solid white;
    padding-bottom: 9px;
}
.titre{
    padding-top: 9px;
}
.sous_menu{
    list-style-type: none;
    padding-left: 8px;
    padding-top: 18px;
    padding-bottom: 10px;
    border:2px solid transparent;
    background-color: #901C1C;
    border-radius: 5px;
    margin-top: -13px;
    transform: scaleY(1);
    transition: transform 1s ease-in-out;
    visibility: hidden;
}

.wrapper{
    padding-top: 15px;
    width: 130px;
    height: 115px;
    margin-top: 20px;
    color: #FAFAFA;
    justify-content: center;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 3px;

}
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
    color: white;
    position: absolute;
    left: 98px;
    top:20px;
    font-size:14px;
}
.wrapper:hover .sous_menu{
    visibility: visible;
}


.photographers-content article{
    margin-left: 100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.picture{
    display : flex;
    flex-direction: column;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.content {
    width: 72%;
    margin-top: 10px;
}
.image{
    justify-content: flex-end;
}
.location1{
    font-size: 20px;
    color : #901C1C;
    margin-top: -15px;
}
.name1{
    color : #D3573C;
    font-size: 39px;
}
.tagline1{
    color: grey;
}
.photo {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}
.title_likes {
    display: flex;
    justify-content: space-between;

}
.title{
    color : #901C1C;
    font-size : 18px;
}
.likes{
    color : #901C1C;
    font-weight: bolder;
}
.heart {
    background: #901C1C;
    width:13px;
    height: 13px;
    position: relative;
    top :40%;
    margin-left: 10px;
    transform: rotate(-45deg);
}
.heart::after{
    background: #901C1C;
    width:13px;
    height: 13px;
    content : '';
    position: absolute;
    top : -7px;
    left : 0px;
    border-radius: 50%;
}
.heart::before{
    background: #901C1C;
    width:13px;
    height: 13px;
    content : '';
    position: absolute;
    top :0px;
    right : -50%;
    border-radius: 50%;
}
.likes_heart{
    display: flex;
}


.container{
    display: flex;
    align-items: center;
}

.counter_content{
    width: 30%;
    height: 80px;
    margin: auto;
    background-color:#DB8876;
    border-radius: 5px;
}
.counter_price{
    font-weight: bold;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.coeur {
    background: black;
    width:13px;
    height: 13px;
    position: relative;
    top :80%;
    margin-left: 20px;
    transform: rotate(-45deg);
}
.coeur::after{
    background: black;;
    width:13px;
    height: 13px;
    content : '';
    position: absolute;
    top : -7px;
    left : 0px;
    border-radius: 50%;
}
.coeur::before{
    background: black;;
    width:13px;
    height: 13px;
    content : '';
    position: absolute;
    top :0px;
    right : -50%;
    border-radius: 50%;
}


.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    z-index:10;
    overflow: auto;
    
}

.lightbox__close{
    width: 15px;
    height: 15px;
    background: url('data:image/svg+xml;utf8,<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M60 8.571L51.429 0L30 21.429L8.571 0L0 8.571L21.429 30L0 51.429L8.571 60L30 38.571L51.429 60L60 51.429L38.571 30L60 8.571Z" fill="white"/></svg>') center center / 15px 28px no-repeat transparent;
    position: fixed;
    top:20px;
    right:20px;
    opacity: .5;
    z-index: 12;
    color: #901C1C;
}

.lightbox__container{
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.lightbox__container img {
    width:800px;
    height:400px;
    max-width: 100%;
    display: flex;
}

.lightbox.show{
    display: initial;
}

.button{
    position: relative;
    top: 50;
}
.next {
    top:10;
	left: 0.25em;   
}
