/* Profil du photographe */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.photograph-header img {
    height : 170px;
    border-radius: 90px;
    width: 170px;
    object-fit: cover;
    justify-content: flex-end;
}
.profile-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.profile__descrpition--location{
    font-size: 20px;
    color : #901C1C;
    margin-top: -15px;
}
.profile__descrpition--name{
    color : #D3573C;
    font-size: 39px;
}
.profile__descrpition--tagline{
    color: grey;
    font-size: 16px;
}
/* Modale de contact */
#contact_modal {
    display: none;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    justify-content: flex-end;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
form .message {
    height : 400px;
}
.formData.success input {
    border : 2px solid green;
}
.formData.error input {
    border: 2px solid red;
}
.formData small {
    margin-top: 3px;
}


/* Filtre des images */
.divNav{
    display: flex;
    margin-left: 100px;
    align-items: flex-start;
    cursor: pointer;
}
.Tri{
    margin-top: 30px;
    margin-right: 20px;
    font-weight: bold;
}
.filter--popularité{
    padding-bottom: 9px;
    padding-top: 12px;
    padding-left: 8px;
    border: 2px solid transparent;
    background-color:#901C1C;
    border-radius: 5px;
    position: relative;
}
.filter--date{
    border-top: 0.5px solid white;
    padding-top: 9px;
    border-bottom: 0.5px solid white;
    padding-bottom: 9px;
}
.filter--titre{
    padding-top: 9px;
}
.sous_menu{
    list-style-type: none;
    padding-left: 8px;
    padding-top: 18px;
    padding-bottom: 10px;
    border:2px solid transparent;
    background-color: #901C1C;
    border-radius: 5px;
    margin-top: -13px;
    transform: scaleY(1);
    transition: transform 1s ease-in-out;
    visibility: hidden;
}

.filter{
    padding-top: 15px;
    width: 130px;
    height: 115px;
    margin-top: 20px;
    color: #FAFAFA;
    justify-content: center;
    list-style-type: none;
    padding-left: 10px;
    margin-top: 3px;

}
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
    color: white;
    position: absolute;
    left: 98px;
    top:20px;
    font-size:14px;
}
.filter:hover .sous_menu{
    visibility: visible;
}
.border{
    border : 1px solid black;
}

/* Contenu principal de la page : photo, titre et likes */
.photographers-content article{
    margin-left: 100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.media_container{
    display : flex;
    flex-direction: column;
}

.content {
    width: 72%;
    margin-top: 10px;
}

.media {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}
.content__description {
    display: flex;
    justify-content: space-between;

}
.content__description--title{
    color : #901C1C;
    font-size : 18px;
    margin-top: 8px;
    word-break: normal;
    
}
.content__items--like{
    color : #901C1C;
    font-weight: bolder;
    margin-top: 9px;
}
.content__items--heart {
    background: #901C1C;
    width:13px;
    height: 13px;
    position: relative;
    top :30%;
    margin-left: 10px;
    transform: rotate(-45deg);
}
.content__items--heart::after{
    background: #901C1C;
    width:13px;
    height: 13px;
    content : '';
    position: absolute;
    top : -7px;
    left : 0px;
    border-radius: 50%;
}
.content__items--heart::before{
    background: #901C1C;
    width:13px;
    height: 13px;
    content : '';
    position: absolute;
    top :0px;
    right : -50%;
    border-radius: 50%;
}
.content__items{
    display: flex;
}

/* Compteur de likes */
.container{
    display: flex;
    align-items: center;
}

.counter_content{
    width: 30%;
    height: 80px;
    margin: auto;
    background-color:#DB8876;
    border-radius: 5px;
}
.counter_price{
    font-weight: bold;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.coeur {
    background: black;
    width:13px;
    height: 13px;
    position: relative;
    top :80%;
    margin-left: 20px;
    transform: rotate(-45deg);
}
.coeur::after{
    background: black;;
    width:13px;
    height: 13px;
    content : '';
    position: absolute;
    top : -7px;
    left : 0px;
    border-radius: 50%;
}
.coeur::before{
    background: black;;
    width:13px;
    height: 13px;
    content : '';
    position: absolute;
    top :0px;
    right : -50%;
    border-radius: 50%;
}
/* Lightbox */

.lightbox{
    display : none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.lightbox.show{
    display: block;
}

.lightbox.container{
    width:500px;
    height:400px;
    margin: auto;
    box-shadow: 3px 0px 0px rgba(0, 0, 0, 0.056);
    border-radius: 5px;
    
}
.lightbox.container.picture{
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.chevron1.R:before {
    left: 14.1em;
	transform: rotate(45deg);
    
}
.chevron1.L:before {
    left: -1.3em;
	transform: rotate(-135deg);
    cursor: pointer;

}

.chevron1::before{
    border-style: solid;
	border-width: 0.18em 0.18em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 4em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
    color: #901C1C;
    font-size: 33px;
    cursor: pointer;
}
.lightbox__close{
    font-size: 62px;
    color: #901C1C;
    position: relative;
    left:6.8em;
    bottom:0.6em;
    cursor: pointer;
}


