img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}
h2 {
    font-size: 20px;
}
article {
    display: grid;
    grid-template-columns: repeat(8);
    grid-template-rows: 5%;
}
.picture{
    display : flex;
    flex-direction: column;
}
.boutton {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    height: 32px;
    width: 32px;
    font-size:66px;

}
.items{
    height:40px;
    width: 40px;
    background-color: brown;
    margin: auto;
    list-style-type: none;

}