@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 70px;
    margin-left: 100px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographer__profil--IDlink{
    text-decoration: none;
}

.photographer__profil--name {
    color: #D3573C;
    font-size: 36px;
}
.photographer_items{
    margin-top: -25px;
    
}

.photographer__profil--location {
    color : #901C1C;
    font-size: 13px;
    padding-left: 10%;
    
}

.photographer__profil--tagline {
    font-size : 0.7rem;
    color: black;
    padding-left: 10%;
}
.photographer__profil--price {
    font-size : 0.7rem;
    color: grey;
    padding-left: 10%;
}
.photographer_section article a {
    cursor : pointer;
}
.photographer__profil--portrait {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit:cover;
}


@media screen and (max-width:750px){
    body{
        margin-left: -5px;
    }
    
    header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin-top: 10px;
        align-self: flex-start;
    }
    h1{
        margin-left: 100px;
        margin-bottom: 20px;
        word-wrap: normal;
        align-items: center;
        width: 79%;
    }
    .photographer_section{
        display: flex;
        flex-direction: column;
    }
    .photographer__profil--name{
        word-wrap: break-word;
        width: 90%;
    }
   
    
}
